  /* <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> */
  
 /* Center align the form */

  .content-container {
    /*background-image: url('/static/img/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;*/
    height: 100%; /* This gets footer at the bottom of the page*/
    position: relative;
    width: 100%;
} 

footer {
  width: 100%;
  padding-top: 10px;
  position: absolute;
  text-align: center;
}

/* navbar brand image*/
.navbar-brand img{
  border-radius: 50% 50%;
}

/* carousel*/
#carouselExampleControls {
  height: 40%;
}

/* images in carousel*/
.d-block {
  height: 350px;
}

/* Just putting it like this for now so we can see them */
.carousel-control-prev-icon, .carousel-control-next-icon {
  border: solid 2px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-group {
    margin-bottom: 1rem;
}
  
  /*input fields */
  .form-control {
    display: block;
    width: 19vw;
    height: 2.8vw;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #99a3ab;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  .form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

  .btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}
  
  /* login/signup button */
  .btn-primary {
    width: 19vw; 
    /*height: 2.3vw;*/
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #f8cc1f;
    border-color: #f8cc1f;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
  }

  .btn-secondary {
    background-color: #50C878;
    border-color: #e2e2e2;
  }
  
  /*login/submit button on hover */
  .btn-primary:hover {
    background-color: #00d957;
    border-color: #00cc03;
  }
  
  .btn:hover {
    opacity: 0.6;
}

  h1 {
    color: blue;
  }

  .btn { 
    font-weight: 400;
  }

  .btn-success:hover {
    background-color: #1a106a;
    border-color: #180e73;
  }


.login-box {
    background-color: #e0dfdd;
    padding: 20px;
    max-width: 400px;
    margin: 10% auto;
    box-sizing: border-box;
    border-radius: 2%;
}

.login-box::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    width: 30;
    height: 40px;
    border-radius: 50%;
    background-color: #4f4f4f;
    transform: translateY(-50%);
    animation: bubble 1s infinite alternate;
}

@keyframes bubble {
    0% {
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-50%) scale(2);
        opacity: 0;
    }
}


.signup-box {
    background-color: #e0dfdd;
    padding: 20px;
    max-width: 400px;
    margin: 10% auto;
    box-sizing: border-box;
    border-radius: 2%;
}



/* .signup-box {
    margin-top: 1vw;
    background-color: #e6eaf4;
    padding: 20px;
    max-width: 25vw;
    margin: 0 auto;
} */


.terms-text {
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: justify;
    /* text-align: right; */
}


/* product page */

.card-img-top {
    height: 20vw; /* height of product */
    object-fit: cover;
  }
  
  .card-text {
    margin-bottom: 0; /* Remove the default margin */
  }
  
  .card-text a {
    text-decoration: none;
  }
  
/* footer */

  .footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  