{% extends 'base.html' %}
{% block content%}
<div class="container home-container">
    {% if current_user.is_authenticated %}
    <h1>This will be the homepage if we are logged in</h1>

    {% for p in products %}
    <a class="card" href=/product/{{p.id}} style="width: 18rem;"> 
      <img src="{{p.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{p.title}}</p>
        <p class="card-text"><b>${{p.price}}</b></p>
        {% if current_user.is_admin %}
        <a class="card-text btn btn-info" href="/edit-product/{{p.id}}">Edit Product</a>
          <a class="card-text btn btn-warning" href="/remove-item/{{p.id}}">Remove item from store</a>
        {% elif p.in_cart %}
            <a class="card-text" href="/remove-from-cart/{{p.id}}">Remove from cart</a>
        {% else %}
            <a class="card-text" href="/add-to-cart/{{ p.id }}">Add to cart</a>   
        {% endif %}   
      </div>
    </a>
  
    {% endfor %}







    {% else %}
    <h1>This will be the homepage for Guests</h1>
    <h6>Maybe some other text</h6>
    <button type="button" onclick="window.location.href='/signup'"class="btn btn-success">Sign up</button>
    <button type="button" onclick="window.location.href='/login'"class="btn btn-success">Login</button>
    {% endif %}
</div>
{% endblock %}