<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <nav class="navbar navbar-expand-xxl navbar-dark bg-dark">
      <div class="nav-items-shown">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/1.jpg') }}" width="30" height="30" class="d-inline-block align-top" alt=""><span>E-Commerce Site</span></a>
        <!-- we can change the image later - h -->
        {% if current_user.is_authenticated %}
        <div class="user-profile-icons">
          <!--We will put a profile image here once we implement that-->
          <a class="user-link nav-link active" id="user-greeting" href="/profile">{{current_user.first_name.title()}}</a>
        </div>
        {% else %}
          <a class="guest-link nav-link active" id="user-greeting">Guest</a>
        {% endif%}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% if current_user.is_authenticated and not current_user.is_admin %}
              <li class="nav-item">
                <a class="nav-link hello-user-link" href="/profile" >Hello, {{ current_user.first_name.title() }}</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
              <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
              <li class="nav-item">
                <a class="nav-link" href="/cart">My Cart</a>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
              <!--Here is where we will have an if-statement for current user . is admin-->
              {% elif current_user.is_admin %}
              <li class="nav-item">
                <a class="nav-link hello-user-link" href="/profile" >Hello, {{ current_user.first_name.title() }}</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
              <li class="nav-item">
                <a class="nav-link" href="/add-product">Add Product</a>
              <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link active">Hello, Guest</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

