{% extends 'base.html' %}

{% block content %}
<h1>Product Page</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <img src="{{p.image}}" class="card-img-top" alt="...">
        <h5 class="card-title">Title: {{p.title}}</h5>
        <p class="card-text">Description: {{p.description}}</p>
        <p class="card-text">Price: {{p.price}}</p>
        <p class="card-text">Department: {{p.department}}</p>
        <p class="card-text">Rating: {{p.rating}}</p>
        <a class="card-text" href="{{p.amazon_link}}">Amazon Link</a>
        {% if p.in_cart %}
          <a class="card-text" href="#">Added to cart</a>
        {% else %}
          <a class="card-text" href="/add-to-cart/{{ p.id }}">Add to cart</a>   
        {% endif %}     
    </div>
  </div>

{% endblock %}